body {
  margin: 0 auto;
  font-family: Helvetica;
  background-color: #EEEEEE; }

header {
  background: red;
  border: 10px solid #899bbc; }
  header h1 {
    color: white;
    padding: 25px 0;
    font-size: 36px;
    text-shadow: 2px 2px #000000;
    text-align: center; }

main p {
  text-align: center; }

.image-container {
  margin: 10px 10px; }
  .image-container .image {
    margin-bottom: 10px; }
    .image-container .image.active .inner-container {
      border-color: #f00; }
      .image-container .image.active .inner-container:hover {
        border-color: #f00; }
    .image-container .image .inner-container {
      border: 10px solid black;
      padding: 5px;
      height: 350px;
      position: relative; }
      .image-container .image .inner-container:hover {
        border: 10px solid #899bbc; }
      .image-container .image .inner-container .character-name {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #444444;
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        font-weight: bold; }
    .image-container .image img {
      width: 100%;
      max-width: 400px;
      height: 100%;
      display: block;
      margin: 0 auto; }

#social-links, #social-links-footer {
  text-align: right;
  padding: 0; }
  #social-links li, #social-links-footer li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    margin: 2px; }
    #social-links li a, #social-links-footer li a {
      color: white; }
      #social-links li a:hover, #social-links-footer li a:hover {
        color: #444444;
        text-decoration: none; }

nav ul {
  padding: 0; }
  nav ul li {
    text-align: center;
    padding: 10px;
    background-color: #444444;
    text-decoration: none; }
    nav ul li:hover {
      color: #3399ff;
      text-decoration: none; }
    nav ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none; }
      nav ul li a:hover {
        color: #3399ff;
        text-decoration: none; }

main hr {
  border-color: black; }

main h2 {
  font-size: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center; }

.btn-style-one {
  background-color: red;
  border-radius: 20px;
  margin: 10px auto;
  width: 100px;
  padding: 5px;
  border: 2px solid #585958;
  font-size: 16px;
  font-weight: bold;
  display: block;
  cursor: pointer; }

footer {
  text-align: center;
  background-color: #444444;
  padding: 10px 0px;
  color: white;
  font-size: 14px;
  clear: both;
  padding: 25px;
  border: 10px solid #899bbc; }
  footer p a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 25px; }
    footer p a:hover {
      color: #3399ff;
      text-decoration: none; }
  footer .back-to-top {
    padding: 10px; }

#social-links-footer {
  text-align: center; }

#contact-form input, #contact-form textarea {
  height: 45px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #585958;
  font-size: 16px; }

#contact-form input {
  margin-bottom: 12px; }

#contact-form button {
  background-color: red;
  border-radius: 20px;
  margin: 10px auto;
  width: 100px;
  padding: 5px;
  border: 2px solid #585958;
  font-size: 16px;
  font-weight: bold;
  display: block;
  cursor: pointer; }

#map {
  width: 100%;
  display: block;
  margin: 0 auto; }

@media screen and (min-width: 768px) {
  nav ul {
    margin: 0;
    clear: both;
    height: 40px; }
    nav ul li {
      float: left;
      width: 20%;
      list-style: none; } }
